version: '3'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
    container_name: elasticsearch
    environment:
      - node.name=elasticsearch
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - ELASTIC_PASSWORD=vice-role-key  # Matches your .env
      - xpack.security.enabled=true
    ports:
      - "9200:9200"
    networks:
      - elastic
    volumes:
      - elastic-data:/usr/share/elasticsearch/data

networks:
  elastic:
    driver: bridge

volumes:
  elastic-data:
